# .env.example

# -----------------------------------------------------------------------------
# Server
# -----------------------------------------------------------------------------

# ADDR=:8080
# BASE_URL=avatars.example.com
# CF_API_TOKEN=xxx
# CF_ZONE_ID=xxxx
# INTERNAL_KEY=xxxx
# SITE_SALT=example.com

# -----------------------------------------------------------------------------
# Storage
# -----------------------------------------------------------------------------

# STORAGE_DRIVER=filesystem (default)

# STORAGE_DRIVER=r2
# R2_ACCOUNT_ID=xxxx
# R2_BUCKET=zavatar
# R2_ACCESS_KEY=xxxx
# R2_SECRET_KEY=xxxx
# R2_PREFIX=v1/


# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------

# DB_DRIVER=fake (default)

# DB_DRIVER=mysql
# MYSQL_HOST=127.0.0.1
# MYSQL_PORT=3306
# MYSQL_USERNAME=root
# MYSQL_PASSWORD=secret
# MYSQL_DATABASE=pdb
# MYSQL_USER_DATABASE=udb
