# .env.example

# -----------------------------------------------------------------------------
# Server
# -----------------------------------------------------------------------------

# ADDR=:8080
# SITE_SALT=example.com
# RESOLVE_MAX_AGE=60
# RESOLVE_S_MAXAGE=3600

# -----------------------------------------------------------------------------
# Storage
# -----------------------------------------------------------------------------

# STORAGE_DRIVER=local # default

# STORAGE_DRIVER=r2
# R2_BUCKET=bucket1
# R2_ACCOUNT_ID=xxxx
# R2_ACCESS_KEY=xxxx
# R2_SECRET_KEY=xxxx
# R2_DIRECTORY=v1
# R2_PUBLIC_BASE=https://avatars-cdn.example.com

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------

# API_MODE=fake       # default

# API_MODE=remote
# API_ENDPOINT=https://api.example.com
# API_SECRET_KEY=xxxx
# API_CACHE_ENABLED=true
# API_CACHE_DEFAULT_EXPIRATION=5m
# API_CACHE_CLEANUP_INTERVAL=10m
